
main{
    display: flex;
}

.gauche{
    flex: 1;
}

.milieu{
    flex: 1.3;

}
.droite{
    flex: 1;
}


.donnestatic{
    display: flex;
    flex-direction: column;
    text-align: center;

}

.titrestatic{
    display: flex;
    justify-content: space-evenly;
}


.nombrelieu{
    width: 100%;
}

.sdiv{
    display: flex;
    align-items: center;
}


.donne h3{
    font-size: 18px;
    color: orangered;
}

.donne p{
    color: grey;
    font-size: 15px;
}


.classement{
    display: flex;
    flex-direction: column;
}


.classement img,.classement h3{
    text-align: center;
}

.classement p{
    color: grey;
    font-weight: bold;
    text-align: center; 
}

.image,.titre{
    display: flex;
    justify-content: space-evenly;
}

.carteSn svg{
   height: 55vh;
   width: 100%;
}

.carteSn svg g{
    transform: translate(0px,-32vh);
 }
.malebar{
    fill: steelblue;
} 


.land{
     fill: #CCCCCC;
     fill-opacity: 1;
     stroke:white;
     stroke-opacity: 1;
     stroke-width:0.5;
}

.bureaulable{
    fill: #000 !important;
}