
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}
.gauche{
    width: 34%
}
.milieu{
    width: 40%;
}
.droite{
    width: 25%;
}
 .regparcom{
    width: 100%;

}

.top10bureau{
    width: 100%;

} 
.carteSn {
    width: 100%;
}
.donnestatic{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.titrestatic{
    display: flex;
    justify-content: space-evenly;
}

.donnestatic p {
    width: 80%;
}

.nombrelieu{
    width: 100%;
    height: 36%;


}
.nombrelect{
    margin-left: 2%;
    margin-top: 3%;
    width: 100%;

}
.classement{  
    width: 100%;
    /* height: 33%; */

}
.bloc{
    width: 40%;
    /* height: 35%; */
}

.sdiv{
    display: flex;
    align-items: center;
}


.donne h3{
    font-size: 18px;
    color: orangered;
    margin: 0;
    padding: 0;
}
.donne p{
    color: grey;
    font-size: 15px;
    margin: 0;
    padding: 0;
}


.classement{
    display: flex;
    flex-direction: column;
}
.classement div{
    margin: 0;
    padding: 0;

} 
.classement img,.classement h3{
    width: 100%;
    margin: 3%;
    text-align: center;
}

.classement p{
    margin-top: 0;
    padding: 0;
    color: grey;
    font-weight: bold;
    text-align: center;
    margin-left: 4%;


}
.image,.titre{
    display: flex;
    justify-content: space-evenly;
}
.titre div{
    width: 30%;
}
.carteSn svg{
   height: 70vh;
   width: 100%;
}

.carteSn svg g{
    transform: translate(0px,-25%);
 }
 


 .land
 {
     fill: #CCCCCC;
     fill-opacity: 1;
     stroke:white;
     stroke-opacity: 1;
     stroke-width:0.5;
 }


.divInfos{
    background: green;
    padding: 5px;
    width: 50%;
}