{% extends 'base.html' %}

{% block title %}Page d'Accueil{% endblock %}

{% block head %}
    <link rel="stylesheet" href="../static/css/stylehome.css">
    <script src="../static/JS/apphome.js" defer></script>
{% endblock%}


{% block content %}

    <div class="divDefaultContainer">
        <main></main>
        
        <aside>
            <div class="circle"></div>
            <div class="divInf">
                <h3>Aucune donnée pour le moment !</h3>
                <p class="message1">Veuillez cliquer sur le bouton charger pour avoir des données dans votre votre base</p>
                <a href="/load" id="charger">Charger</a>
            </div>
            <div class="carre c1"></div>
            <div class="carre c2"></div>
        </aside>
    </div>
    

{% endblock%}

