{% extends 'base.html' %}

{% block title %} Traitement des Donnees Electerales{% endblock %}
{% block head %}

<script src="{{ url_for('static',filename='JS/app.js') }}"></script>
<script src="{{ url_for('static',filename='JS/d3.min.js') }}"></script>


{% endblock%}

{% block content %}
<main>
    <div class="gauche">
        <div class="regparcom"></div>
        <div class="top10bureau"></div>
    </div>
    <div class="milieu">
        <div class="carteSn"></div>
        <div class="donnestatic">
            <div class="titrestatic">
                <h3>Électeurs 2017</h3>
                <h3>Électeurs 2019</h3>
            </div>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.Lorem Ipsum has been the industry's standard dummy text 
                ever since the 1500s,when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five
                centuries, but also the leap into electronic typesetting, remaining 
                essentially unchanged. It was popularised in the 1960s with the release
                of Letraset sheets containing Lorem Ipsum passages, and more recently 
                with desktop publishing software like Aldus PageMaker including
             versions of Lorem Ipsum.
            </p>
        </div>
    </div>
    <div class="droite">
        <div class="nombrelieu"></div>
        <div class="nombrelect">
            {% for i in donne %}
            <div class="sdiv">
                <div class="personIcons">
                    <div>
                    {% for i in range(3) %}
                        <img src="../static/img/bonhom.jpeg" alt="" srcset="">
                    {% endfor %}
                    </div>
                </div>
                <div class="donne">
                    <h3 >{{ i }}</h3>
                    <p>{{ donne[i] }} Electeurs</p>
                </div>
            </div>
            {% endfor %}
        </div>



        <div class="classement">

            <div class="candidatItem">
                <div class="candidatImage"> 
                    <img src="../static/img/macky.jpeg" alt="" srcset="">
                </div>

                <div class="divInfos">
                    <h3>Macky SALL</h3>
                    <p class="profession">Géologue</p>
                    <h3 class="pourcentage">{{ dic['Macky Sall'] }}%</h3>
                    <p>des Electeurs</p>
                </div>
            </div>

            <div class="candidatItem">
                <div class="candidatImage">
                    <img src="../static/img/idi.jpeg" alt="">
                </div>

                <div class="divInfos">
                    <h3>Idrissa SECK</h3>
                    <p class="profession">Auditeur Consultant</p>
                    <h3 class="pourcentage">{{ dic['Idrissa Seck'] }}%</h3>
                    <p>des Electeurs</p>
                </div>
            </div>

            <div class="candidatItem">
                <div class="candidatImage">
                    <img src="../static/img/sonko.jpeg" alt="">
                </div>

                <div class="divInfos">
                    <h3>Ousmane SONKO </h3>
                    <p class="profession">Inspecteur des impôts et domaines</p>
                    <h3 class="pourcentage">{{ dic['Ousmane Sonko'] }}%</h3>
                    <p>des Electeurs</p>
                </div>
            </div>

        </div>
    </div>
   
</main>

{% endblock %}
